.logo img {
    height: 50px;
    width: auto;
    border-radius: 50%;
}

.main-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(10px);

    border: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    z-index: 1000;
}

body {
    margin: 0;
    background:
    url('../BG.jpg');
    background-size: cover;
    background-position: center;
  min-height: 100vh;
}

.nav-menu {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-menu li a {
  padding: 6px 8px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.home {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-content h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.05;
}

.home-content p {
    margin-top: 24px;
    font-size: 25px;
    color: #fff; 
}

.profile {
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 60px;
    padding-top: 90px;
    display: flex;
    align-items: center;
    gap: 80px;
    align-content: center;
    justify-content: space-between;
}

.profile-text {
  flex: 1;
  max-width: 600px;
}

.profile-text h1 {
    font-size: 36px;
    max-width: 600px;
}

.profile-text h2 {
    font-size: 24px;
    max-width: 600px;
}

.profile-image {
  flex: 1;
  display: flex;
  justify-content: center;
} 

.profile-image img {
  width: 320px;
  max-width: 100%;
  border-radius: 22px;
}

/* Slider Experience */

.experience {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.experience-inner {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  transform: translateY(-40px);
}

.section-title {
  font-size: 28px;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.slider-wrapper {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  overflow: hidden;
}

.slider {
  display: flex;
  align-items: flex-start;
  width: 100%;
  transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 100%;
  max-width: 100%;
  background: rgba(255,255,255,0.6);
  padding: 40px;
  border-radius: 24px;
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  max-height: 70vh;
  overflow-y: auto;
}

.slide h3 {
  margin-bottom: 8px;
  text-align: center;
  font-size: 24px;
}

.slide span {
  font-size: 16px;
  color: #3b3a3a;
  display: block;
  text-align: center;
  margin-bottom: 24px;
  opacity: 0.7;
}

.slide p {
  line-height: 1.7;

  text-align: justify;
  text-justify: inter-word;

  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  word-break: normal;
}

@media (max-width: 768px) {
  .slide p {
    text-align: left;
  }
}

/* NAV BUTTON */
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  cursor: pointer;

  background: rgba(255,255,255,0.8);
  backdrop-filter: blur(6px);
  font-size: 24px;
  z-index: 20;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.nav-btn.prev {
    left: 5px;
}

.nav-btn.next {
    right: 5px;
}

.nav-btn:hover {
  background: rgba(255,255,255,0.9);
  transform: translateY(-50%) scale(1.1);
}

@media (max-width: 768px) {
  .nav-btn {
    display: none;
  }

  .slide {
    padding: 24px;
  }
}